@media screen and (max-width: 480px) {
    .soils {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #ffffff;
        padding-top: 50;
        box-sizing: content-box;


    }

    .box1 {
        border: 1px solid rgba(0, 0, 0, 0.8);
        height: 250px;
        width: 300px;
        text-align: center;
        /* margin-top: 12px; */
        position: relative;
        right: 2px;
        font-size: 14px;
        box-sizing: content-box;

    }

    .main {
        height: 95vh;
        width: 100%;
        background: url(https:img.freepik.com/premium-photo/upclose-nascent-plant-thrives-within-soil-portrait-emerging-vitality-vertical-mobile-wallpap_892776-6578.jpg);
        /* background-position: center; */
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        bottom: 4.1vh;

    }

    .head {
        height: 10vh;
        width: 100vw;
        background-color: #333;
    }

    .copy {
        color: black;
        text-wrap: nowrap;
        text-align: center;
        font-size: 2.5vh;
    }
}